body{
    font-family: "Promt", sans-serif;
    background-image:url(../images/navimage.jpg);
    background-size: cover;
}

.nav-wrapper{
    background-color: rgb(196, 194, 194);
    max-width: 1200px;
    margin: 0 auto;
    padding:15px 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% auto;
}

.nav-wrapper a{
    letter-spacing: .02em;
    text-decoration: none;
    font-weight: bold;
}

.nav-wrapper a:hover{
    cursor: pointer;
    color: #eee;
}

.list-item{
    margin-left: 10px;
    text-transform: uppercase;
    padding: 2px;
}

.nav-wrapper ul li{
    display: inline;
    list-style-type: none;
}

.main-wrapper{
    max-width: 1200px;
    margin: auto;
}

.burger-icon{
    display: none;
}

.wrapper{
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        "featuredMain featuredMain featuredSub"
        "contentMain contentMain contentSub"
}

.featured{
    grid-area: featuredMain;
    min-height: 500px;
    background-color: rgb(156, 215, 250);
}

.sub-featured{
    grid-area: featuredSub;
    background-color: rgb(66, 61, 60);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.sub1{
    background-color: rgb(78, 240, 146);
}

.sub2{
    background-color: rgb(78, 240, 146);
}

.sub3{
    background-color: rgb(78, 240, 146);
}



.main-content{
    grid-area: contentMain;
    background-color: rgb(243, 124, 144);
}

.main-sidebar{
    grid-area: contentSub;
    background-color: rgb(247, 199, 111);
}

.footer{
    display: grid;
    margin: auto;
    grid-template-columns:
        minmax(20px, 300px)
        minmax(20px, 300px)
        minmax(20px, 300px)
        minmax(20px, 300px);
    justify-content: center;
    background-color: rgb(48, 48, 48);
    color: #fff;
}

/* TABLET MEDIA QUERY */

@media screen and (max-width:950px){
    .wrapper{
        grid-template-areas: 
            "featuredMain featuredMain featuredMain"
            "featuredSub featuredSub featuredSub"
            "contentMain contentMain contentSub"
    }

    .sub-featured{
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-items{
        grid-column: 1/5;
        text-align: center;
    }

    .logo{
        grid-column: 1/5;
        text-align: center;
    }

    .nav-wrapper{
        margin-top: 0;
    }

}

/* MOBLIE MEDIA QUERY*/

@media screen and (max-width:600px){
    .logo{
        grid-column: 1/2;
    }

    .nav-items{
        grid-column: 1/5;
        text-align: center;
    }

    .nav-wrapper ul{
        padding: 0;
        margin: 0;
    }

    .nav-wrapper ul li{
        display: block;
    }

    .burger-icon{
        display: inline-block;
        justify-self: end;
        grid-column: 4/5;
        border: 2px solid #333;
        color: #333;
        padding: 10px;
        font-weight: bold;
        border-radius: 3px;
    }

    .burger-icon:hover{
        cursor: pointer;
    }

   .wrapper{
       grid-template-areas:
        "featuredMain featuredMain featuredMain"
        "contentMain contentMain contentMain"
        "featuredSub featuredSub featuredSub"
        "contentSub contentSub contentSub"
   }

   .sub-featured{
       grid-template-columns: 1fr;
   }

   .footer > div{
       grid-column: 1/-1;
   }

}
