.nav-wrapper{
    background-color: rgb(196, 194, 194);
    max-width: 1200px;
    margin: 0 auto;
    padding:15px 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% auto;
}

.nav-wrapper ul li{
    display: inline;
    list-style-type: none;
}

.main-wrapper{
    max-width: 1200px;
    margin: auto;
}

.burger-icon{
    display: none;
}

.wrapper{
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        "featuredMain featuredMain featuredSub"
        "contentMain contentMain contentSub"
}

.featured{
    grid-area: featuredMain;
    min-height: 500px;
    background-color: rgb(156, 215, 250);
}

.sub-featured{
    grid-area: featuredSub;
    background-color: rgb(139, 105, 97);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.sub1{
    background-color: rgb(78, 240, 146);
}

.sub2{
    background-color: rgb(78, 240, 146);
}

.sub3{
    background-color: rgb(78, 240, 146);
}



.main-content{
    grid-area: contentMain;
    background-color: rgb(243, 124, 144);
}

.main-sidebar{
    grid-area: contentSub;
    background-color: rgb(247, 199, 111);
}

.footer{
    display: grid;
    margin: auto;
    grid-template-columns:
        minmax(20px, 300px)
        minmax(20px, 300px)
        minmax(20px, 300px)
        minmax(20px, 300px);
    justify-content: center;
    background-color: rgb(48, 48, 48);
    color: #fff;
}